:root {
  --clr-primary: #c8a349;
  --clr-neutral-400: #fff;
  --clr-neutral-900: #000;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2rem;

  --ls-300: 2.6px;
  --ls-400: 2.8px;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-300);
  --fs-btn: var(--fs-200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary);
}

.text-neutral-100 {
  color: var(--clr-neutral-400);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.bg-primary-400 {
  background-color: var(--clr-primary);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.home-container {
  display: flex;
  max-width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0 100px;
}

.home-container::after {
  content: "";
  background-image: url(./images/gift-habeshaw-ANKwu9pk4nk-unsplash-2.png);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 60%;
  left: 40%;
  top: 0;
  bottom: 0;
}

.home-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-neutral-400);
  padding-top: 3rem;
  z-index: 99;
};pp

.menu a {
  color: var(--clr-neutral-400);
  font-size: 3rem;
}

.cart {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
}

.home-header img {
  height: 8rem;
}

.hero-txt {
  gap: 6rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-400);
  z-index: 98;
}

.top-hero-txt {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 8px;
}
.mid-hero-txt {
  font-size: 6rem;
  text-align: center;
  font-weight: 800;
}

button {
  color: #333;

  background-color: var(--clr-neutral-400);
  border: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  cursor: pointer;
}

button a {
  transition: all ease-in-out 0.5s;
  padding: 1.5rem 4rem;
  color: var(--clr-neutral-900);
}

button a:hover {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-400);
}

.hero-img {
  width: 30%;
}
