:root {
  --clr-primary: #c8a349;
  --clr-neutral-400: #fff;
  --clr-neutral-900: #000;
  --clr-neutral-700: #999;
  --clr-neutral-800: #4a4a4a;

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2rem;
  --fs-900: 3rem;

  --ls-300: 2.6px;
  --ls-400: 2.8px;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-300);
  --fs-btn: var(--fs-200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: var(--clr-neutral-400);
}

body {
  font-family: "LATO", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary);
}

.text-neutral-100 {
  color: var(--clr-neutral-400);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.bg-primary-400 {
  background-color: var(--clr-primary);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.header {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-800);
  letter-spacing: 2px;
}

.home-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.home-header {
  padding: 2rem 200px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  color: var(--clr-neutral-400);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.open a {
  color: var(--clr-primary);
  font-size: 3rem;
  padding-left: 6rem;
}

#cartTwo {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 4px;
  cursor: pointer;
  color: var(--clr-neutral-700);
  padding-right: 6rem;
}

.home-header img {
  height: 4rem;
}

.nav {
  width: 50%;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  list-style: none;
  width: 100%;
}

.nav ul li a {
  color: var(--clr-neutral-700);
  font-size: var(--fs-500);
  letter-spacing: 5px;
  position: relative;
  font-weight: 700;
}

.nav ul li a:link {
  color: var(--clr-neutral-800);
}

.nav ul li a:hover,
.nav ul li a.active {
  color: var(--clr-primary);
}

.nav ul li a:active,
.nav ul li a:focus {
  color: var(--clr-neutral-800);
}

.nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--clr-primary);
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
}

.nav ul li a:hover::after,
.nav ul li a.active::after {
  width: 20px;
}

#open-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-inline: auto;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 2%;
  left: 0;
  z-index: 990;
}

.open-main {
  position: relative;
  left: 20%;
}

#aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  color: var(--clr-neutral-800);
  padding: 5rem;
  height: 100vh;
  left: -50%;
  position: fixed;
  top: 15%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 98;
}

#aside.open-aside {
  left: 0;
}

#aside h1 {
  font-size: var(--fs-700);
  font-weight: 700;
  letter-spacing: 8px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: auto;
  width: 100%;
  justify-content: center;
}

.dropdown,
.menus {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 1rem;
  font-size: var(--fs-500);
  letter-spacing: 2px;
}

.menus li {
  list-style: none;
}

.dropdown {
  margin-top: 2rem;
  display: none;
}

.shop-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6rem;
}

.shop-box i {
  cursor: pointer;
}

.dropdown a,
.menus a {
  color: var(--clr-neutral-800);
  font-weight: 700;
}
.menus a:hover,
.dropdown a:hover {
  color: var(--clr-primary);
}

.log-in {
  padding-left: 1rem;
  margin-top: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
}
.log-in:hover {
  color: rgb(251, 44, 44);
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  height: 100vh;
}

.social-icons a {
  color: var(--clr-neutral-800);
}
.social-icons a:hover {
  color: var(--clr-primary);
}

.images-box {
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  font-size: var(--fs-500);
  font-weight: 500;
  display: grid;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
  width: 100%;
}
.img img:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  color: #c8a349;
}

.img-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.desc P {
  color: var(--clr-neutral-800);
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}
.desc p:hover {
  color: var(--clr-primary);
}
.price {
  display: flex;
  gap: 0.3rem;
  color: var(--clr-neutral-700);
}

.price P {
  font-size: 1rem;
  letter-spacing: 1px;
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}
.three-col {
  grid-template-columns: repeat(3, 1fr);
}
.six-col {
  grid-template-columns: repeat(4, 1fr);
}

.shirts {
  display: grid;
}
.kids {
  display: grid;
}
.hoodies {
  display: grid;
}
.custom {
  display: grid;
}

#testimonial,
.testimonial-profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #d7d7d7;
  padding: 3rem 0;
}

#testimonial {
  gap: 3rem;
  margin-top: 6rem;
}

.testimonial-group {
  max-width: 600px;
  margin-inline: 2rem;
}
.testimonial-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-image: url(./images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.testimonial-txt {
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.testimonial-profile h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold);
  letter-spacing: 1px;
}
.testimonial-profile p {
  font-size: var(--fs-500);
  letter-spacing: 2px;
}

.testimonial-txt .read-more {
  font-size: var(--fs-400);
  letter-spacing: 2px;
  cursor: pointer;

  color: var(--clr-neutral-800);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.testimonial-txt .read-more:hover {
  color: var(--clr-primary);
}

.hidden-txt {
  display: none;
}

#feature {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fbfbfb;
  padding-top: 4rem;
}

.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.feature-header p {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-800);
  letter-spacing: 4px;
}

#feature .all{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

#feature .all img {
  box-shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.5);
  
}
#feature .all img:hover {
  box-shadow: 0px 16px 54px -15px rgba(0, 0, 0, 0.5);
}

#arrowLeft,
#arrowRight {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -10%);
  background-color: var(--clr-neutral-700);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-400);
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#arrowLeft:hover,
#arrowRight:hover {
  background-color: var(--clr-neutral-800);
}

#arrowRight {
  left: 90%;
}

#arrowLeft i,
#arrowRight i {
  font-size: 1.5rem;
}

#banner,
#newsLetter {
  margin-top: 6rem;

  height: 400px;
  background-image: url(./images/felipe-galvan-AhfrA5VQNpM-unsplash.jpg);
  background-position: top 20% left 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-txt {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.header span {
  color: var(--clr-neutral-400);
}

.newsletter p {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-800);
  letter-spacing: 2px;
}

button {
  color: var(--clr-neutral-400);
  background-color: transparent;
  border: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  cursor: pointer;
  transition: all ease-out 0.3s;
  padding: 1.5rem 2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.3);
}

#newArrival {
  margin-top: 6rem;
}
#newsLetter {
  margin-top: 6rem;
  background-color: #999;
  background-image: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: auto;
  padding: 6rem 12.5rem;
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

#newsLetter input {
  background-color: var(--clr-neutral-800);
  width: 50%;
  outline: none;
  border: none;
  padding: 1.5rem 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: var(--clr-neutral-400);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#newsLetter input::placeholder {
  color: var(--clr-neutral-400);
  letter-spacing: 2px;
}

#newsLetter .input-box button {
  background-color: var(--clr-primary);
  box-shadow: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/********** ABOUT STARTS  **********/

.main-about {
  display: flex;
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.about .header {
  width: 100%;
  height: 500px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
  color: var(--clr-neutral-400);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url(./images/joren-aranas-nmuyqgSOpEE-unsplash.jpg);
}

.about-txt {
  display: flex;
  gap: 2rem;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: fit-content;
  height: auto;
  font-size: var(--fs-600);
  text-align: center;
}

/********** ABOUT ENDS  **********/

/********** CONTACT START **********/
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
  gap: 5rem;
  margin-top: 5rem;
}

.contact-txt {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: fit-content;
  height: auto;
  font-size: var(--fs-600);
  text-align: center;
}

.contact-txt {
  width: 100%;
  height: auto;
  font-size: var(--fs-800);
  font-weight: 600;
  letter-spacing: 3px;
}
.contact-txt .header-txt {
  text-transform: uppercase;
  font-size: var(--fs-300);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 600px;
}

form input,
textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--clr-neutral-800);
  padding: 1rem 0;
  font-size: var(--fs-500);
  letter-spacing: 4px;
}

textarea {
  min-height: 120px;
  max-width: 600px;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.7;
}

form button {
  padding: 2rem 1rem;
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-400);
  margin-top: 1rem;
  font-size: var(--fs-500);
  letter-spacing: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
form button:hover,
form button:active {
  background-color: var(--clr-primary);
}
/********** CONTACT ENDS  **********/

/********** HELP STARTS  **********/
.help-container {
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.help-txt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.help-txt div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.help-txt div h1 {
  font-weight: 700;
  font-size: 1.2rem;
}
.help-txt div p {
  font-size: 1.2rem;
}
.help-header {
  font-size: 1.5rem;
  letter-spacing: 12px;
  font-weight: 800;
  margin-top: 4rem;
}
/********** HELP ENDS  **********/

.dropdown ul {
  display: flex;
  flex-direction: column;
}

/******** MEDIA QUERY ***********/

@media (max-width: 799px) {
  .home-header {
    padding: 2rem 100px;
  }
  .nav {
    display: none;
  }

  .three-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .open a {
    padding-left: 2rem;
  }

  #cartTwo {
    padding-right: 2rem;
  }

  .desc P {
    font-size: 0.8rem;
    letter-spacing: 3px;
  }

  #aside {
    width: 10%;
    padding: 2rem;
    left: -50%;
    top: 15%;
  }
  #aside.open-aside {
    left: 0;
  }

  #aside h1 {
    font-size: 1.5rem;
    letter-spacing: 6px;
  }

  .open-main {
    position: relative;
    left: 40%;
  }

  .menu-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .dropdown,
  .menus {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .menus li {
    list-style: none;
  }

  .shop-box {
    display: flex;
    align-items: center;
    width: 100%;

    background-color: antiquewhite;
  }

  .log-in {
    margin-top: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
  }
  .log-in:hover {
    color: rgb(251, 44, 44);
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    height: 100vh;
  }

  .social-icons a {
    color: var(--clr-neutral-800);
  }
  .social-icons a:hover {
    color: var(--clr-primary);
  }

  .testimonial-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #newsLetter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 6rem 2rem;
  }
}
@media (max-width: 799px) {
}
